* {
    box-sizing: border-box;
}
body {
    /* perspictive
    manzoor : bisma7 l el elements tet7at f el 3D space lama baktebha f el body msh bt2asar feeh enma bt2asar f el elements ely gwa
    el Qeema el eftradeya esmaha ( none )
    eh hya el 600px dy = dy el masafa ely been el element w been el user law el element wa5ed prespictive: 600px hai5tefy bas 3ady yb2a a2al aw b el negative

    */
    perspective: 800px;
    height: 10000px;
}
h1
{
    margin: 25px;
    color: #191e22;
    text-align: center;
}
h1:hover { text-shadow: 1px 1px 2px red, 1px 1px 3px blue;transition: all .9s ease-in-out}
.test
{
    width: 200px;
    height: 200px;
    background-color: #ddd;
    margin: 20px auto;
    border-radius: 50px;
    text-align: center;
    box-shadow: 6px 6px 3px 3px #00f inset, -6px -6px 3px 3px #0f0 inset;
}
section {
    background-color: #eee;
    margin: auto;
    overflow: hidden;
    width:940px;
}
.left {
    width: 50%;
    float: left;
    background-color: #2dcc70;
    color: black;
    padding: 10px;
    text-align: center;
}
.right {
    width: 50%;
    float: right;
    background-color: yellow;
    color: black;
    padding: 10px;
    text-align: center;
}
.hello {text-align: center}
.hello img{
    background-color: #204051;
    transition: all .8s ease-in-out;
    padding: 10px;
    margin: 50px;
    border: 10px solid #e4e3e3;

}
.hello img:hover {
    border-radius: 100px;
    box-shadow: 10px 10px 70px 2px #84a9ac , -10px 10px 70px 2px #84a9ac;
    transform: scale3d(0.5 , 0.5 , 0.5);
    translate3d(120px,150px, 110px);

}
.welcome {
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 300px;
}
/* transform-origin */
.transform_origin{
    width: 300px;
    height: 300px;
    background-color: darkblue;
    transition: all 1s ease-in-out;
    margin: 50px auto;
}
.transform_origin:hover{
    transform: rotate(360deg);
    transform-origin: top left;        /*bi5aly el center bta3 el element f el position el enta bt7oto da w bilef 3aleeh*/
}
/* transform-style: flat or preserve-3d     mohem f el styles el 3d
da bi5aly law 3andak div w fy divat tanya w el style bta3thom feeha sho8l 3d bi7afez 3aleeh w 3ala shaklohom law hwa preserve-3d law hwa flat hayda5alhom f ba3d w yl8y el 5awas el 3d bta3thom*/


/* 3D-Transform-backface visibility
gameel f el 3d w el 7agat el mogasama w hasta5demo f el flipping card
 */
.backface{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;             /* mohema law hayt7at fy 3anaser tanya */
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;       /* 3alashan t7afez 3ala el elements el 3d el gwa el div w law hwa fy 3d hat7afez 3aleeh */
}
.backface:hover{
    transform: rotateY(180deg);
}
.backface > div {               /* ma3naha ay div gwa el backface haykoon leeh el 5awas dy */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 300px;
    color: black;
    font-size: 25px;
    text-align: center;
}
.backface .front {
    z-index: 2;      /* 3alashan ykoon hwa el foo2 w yban el awel */
    background-color: gray;
    color: maroon;
    padding: 10px;
    backface-visibility: hidden;    /* han7ot backface-visibility: hidden 3alashan manshofsh el dahr bta3o */
}
.backface .back{
    z-index: 1;     /* 3alashan ykoon hwa el wara */
    color: black;
    padding: 10px;
    background-color: lightgrey;
    transform: rotateY(180deg);
    backface-visibility: hidden;   /* han7ot backface-visibility: hidden 3alashan maybansh el dahr bta3o f bdayet el lafa w tkoon shaklaha 7elw */
}













































