* {
    background-color: darkblue;
    perspective: 500px;
}

.reoin ul {
    display: inline-block;
    text-decoration: none;
}

.reoin ul li {
    text-decoration: underline;
    display: inline-block;
    margin: 50px;
}

.reoin ul li:hover {
    text-decoration: none;
    background-color: yellow;
    color: grey;
    font-size: 40px;
}