body
{
    margin: 30px;
    padding: 20px;
}


ol
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ol li
{
    display: inline-block;
    padding: 20px;
}


.header
{
    padding: 20px 0px;
    background: rgba(17,6,6,0.31);
    font-size: 40px;
    color: black;
    text-align: center;
}
.navigation
{
    padding: 20px 0px;
    background: lightgrey;
    text-align: center;
    font-size: 30px;
    color: black;
    font-size: 40px;
}
.content
{
    padding: 20px 0px;
    background: #999999;
    text-align: center;
    font-size: 25px;
    color: black;
}
.footer
{
    padding: 20px 0px;
    background: #888888;
    color: #000;
    font-size: 50px;
    text-align: center;
}
ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li
{
    display: inline-block;
    padding: 20px;
}
