.head
{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    color: black;
    background: darkgrey;
}
.navigation
{
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    background: rgba(0,0,0,0.33);
    text-decoration: darkblue;
}
.content h1
{
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}
.content
{
    background: #cccccc;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcTeYp-revR4xWrFW4TX5axCeWSyqMsx8Tf2wvI3dQl3Q5uD-N");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    margin: 20px;
}
.content p
{
    font-size: 20px;
}
.foot #products
{
    color: #040065;
    font-size: 50px;
    text-align: center;
}
.foot
{
    margin: 20px;
    padding: 20px;
    background: lightgray;
    font-size: 25px;
}
.foot .products
{
    display: inline-block;
    width: 600px;
    height: 500px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
a
{
    text-decoration: underline;
    text-align: center;
    color: black;
}
ul
{
    list-style: none;
    text-align: center;
}
ul li
{
    font-size: 30px;
    display: inline-block;
    padding: 20px;
}
.finish h1
{
    font-size: 35px;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 20px;
}
.finish
{
    background: rgba(0,0,0,0.14);
    padding: 20px;
    margin: 20px;
}
label
{
font-size: 20px;
    padding: 20px;
    margin: 20px;
}
textarea
{
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}
.end
{
    font-size: 35px;
    text-align: center;
    background: darkgrey;
    padding: 20px;
    margin: 20px;
}




















